@font-face {
	font-family: "EnchantedLand";
	src: url("../assets/fonts/EnchantedLand.otf") format('otf'),
		 url("../assets/fonts/enchantedland-webfont.woff") format('woff'),
		 url("../assets/fonts/enchantedland-webfont.woff2") format('woff2');
		 
   }

body {
	font-family: 'EnchantedLand';
	letter-spacing: 2px;
	font-size: 40px;

  }

/* Simple Button styles*/
button {
	font-family: 'EnchantedLand';
	letter-spacing: 2px;
	font-size: 40 px;	
  }

/* Simple Button Style on Hover */
button:hover

/* General Styling for Menu Screens */
[data-screen] {
	font-size: 40px;

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */

[data-screen="main"] {
		background-image: url('../assets/scenes/menu.png');
		/*style = position: static height:100%;*/
		background-color: black ;
		font-size : 40px;

}



/* Main Menu Buttons Styling */
[data-screen="main"] button {
	margin: 10%;
	background-color: var(--main-color);
	text-align: center;
  
}
	
	  
	  .animated {
		align-self: center;
	  }
	
	   button {
		background-color: var(--main-color);
	  }

h1
{
  font-size: 100px;
  text-align:center;
  margin:5% 10%;
   
}

h2 {
	font-size: 40px;
	text-align: center;
	margin-left: 210px;
	margin-right: 210px;

}


/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-component="choice-container"] button {
	padding-top:40 px;
	font-size: 40 px;


}

/* Character Name Style */
[data-ui="who"] {
	font-weight : bold;

}


/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {
		font-size : 30px;
}



